In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

## select()

In [3]:
# DataFrame.select(*cols)[source]
# Parameters
# cols : str, Column, or list
# column names (string) or expressions (Column). 
#If one of the column names is ‘*’, that column is expanded to include all columns in the current DataFrame.

class_df = spark.read.csv('/dataframe/a_class_info.csv', header=True)
class_df.show(10)

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 10 rows

In [4]:
# str
class_spark = class_df.select('school', 'loc', 'school_type')
class_spark.show(3)

#  *(모든 컬럼)
class_spark = class_df.select('*')
class_spark.show(3)


# list
class_spark = class_df.select(['class_cd', 'school'])
class_spark.show(3)

+------+--------+-----------+
|school|     loc|school_type|
+------+--------+-----------+
| ANKYI|   Urban| Non-public|
| ANKYI|   Urban| Non-public|
| CCAAW|Suburban| Non-public|
+------+--------+-----------+
only showing top 3 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

+--------+------+
|class_cd|school|
+--------+------+
|     6OL| ANKYI|
|     ZNS| ANKYI|
|     2B1| CCAAW|
+--------+------+
only showing top 3 rows

### Column

In [5]:
# Column : 내부에 DataFrame 연산을 위한 Expression을 가지고 있는 객체

# col 함수를 이용한 컬럼 생성(데이터프레임 안에서 의미가 있음)
col('school')

# DataFrame 에서 원하는 컬럼을 반환
class_df.school

# 정규표현식을 이용한 컬럼 반환
class_df.colRegex("`^school.*`")

# lit을 이용한 컬럼 생성
# lit('school')

Column<'school'>

Column<'school'>

Column<'unresolvedregex()'>

Column<'school'>

In [6]:
df_spark = class_df.select(col('school'))
df_spark.show(3)

df_spark = class_df.select(class_df.school)
df_spark.show(3)

df_spark = class_df.select(class_df.colRegex("`^school.*`"))
df_spark.show(3)

# df_spark = class_df.select(lit('school'))
# df_spark.show(3)

+------+
|school|
+------+
| ANKYI|
| ANKYI|
| CCAAW|
+------+
only showing top 3 rows

+------+
|school|
+------+
| ANKYI|
| ANKYI|
| CCAAW|
+------+
only showing top 3 rows

+------+-----------+
|school|school_type|
+------+-----------+
| ANKYI| Non-public|
| ANKYI| Non-public|
| CCAAW| Non-public|
+------+-----------+
only showing top 3 rows

#### Column 연산

- 산술연산 :  +  -  *  /  %
- 비교연산 : <  >  <=  >=  ==  !=
- 논리연산 : &  |

![op-overloading](./img/op_overloading.png)

In [21]:
class_df.class_std_cnt + 10
class_df.class_std_cnt - 10
class_df.class_std_cnt * 10
class_df.class_std_cnt / 10
class_df.class_std_cnt ** 10
class_df.class_std_cnt % 10
class_df.class_std_cnt < 10
class_df.class_std_cnt > 10
class_df.class_std_cnt <= 10
class_df.class_std_cnt >= 10
class_df.class_std_cnt == 10
class_df.class_std_cnt != 10
(class_df.class_std_cnt >= 10) & (class_df.class_std_cnt < 1000)

# DataFrame의 select 메서드의 새로운 컬럼을 전달인자로 보낼 경우 해당 컬럼이 추가된 새로운 DataFrame 생성
class_df.select(class_df.school, class_df.class_cd, (class_df.class_std_cnt >= 10) & (class_df.class_std_cnt < 20)).show(3)

col_is_big = ((class_df.class_std_cnt >= 10) & (class_df.class_std_cnt < 20)).alias('is_big')
class_df.select(class_df.school, 
                class_df.class_cd, 
                col_is_big).show(3)

Column<'(class_std_cnt + 10)'>

Column<'(class_std_cnt - 10)'>

Column<'(class_std_cnt * 10)'>

Column<'(class_std_cnt / 10)'>

Column<'POWER(class_std_cnt, 10)'>

Column<'(class_std_cnt % 10)'>

Column<'(class_std_cnt < 10)'>

Column<'(class_std_cnt > 10)'>

Column<'(class_std_cnt <= 10)'>

Column<'(class_std_cnt >= 10)'>

Column<'(class_std_cnt = 10)'>

Column<'(NOT (class_std_cnt = 10))'>

Column<'((class_std_cnt >= 10) AND (class_std_cnt < 1000))'>

+------+--------+------------------------------------------------+
|school|class_cd|((class_std_cnt >= 10) AND (class_std_cnt < 20))|
+------+--------+------------------------------------------------+
| ANKYI|     6OL|                                           false|
| ANKYI|     ZNS|                                           false|
| CCAAW|     2B1|                                            true|
+------+--------+------------------------------------------------+
only showing top 3 rows

+------+--------+------+
|school|class_cd|is_big|
+------+--------+------+
| ANKYI|     6OL| false|
| ANKYI|     ZNS| false|
| CCAAW|     2B1|  true|
+------+--------+------+
only showing top 3 rows

#### Column 메서드

In [33]:
school = class_df.school
class_cd = class_df.class_cd
std_cnt = class_df.class_std_cnt

std_cnt.asc()
class_df.select(school, class_cd, std_cnt).sort(std_cnt.asc()).show(20)
class_df.select(school, class_cd, std_cnt).sort(std_cnt.desc()).show(20)

Column<'class_std_cnt ASC NULLS FIRST'>

+------+--------+-------------+
|school|class_cd|class_std_cnt|
+------+--------+-------------+
|  null|     5SD|         null|
|  null|     4SZ|         null|
|  null|     6PP|         null|
|  null|     MDE|           10|
| FBUMG|     197|           14|
| FBUMG|     JGD|           14|
| VHDHF|     KR1|           15|
| UUUQX|     SSP|           15|
| CCAAW|     IQN|           15|
| VHDHF|     J6X|           16|
| CCAAW|     UHU|           16|
| UUUQX|     6C1|           16|
| UUUQX|     H7S|           16|
| IDGFP|     XZM|           17|
| CIMBB|     PC6|           17|
| CIMBB|     HUJ|           17|
| IDGFP|     P2A|           17|
| OJOBU|     5SZ|           17|
| IDGFP|     G2L|           17|
| UUUQX|     AE1|           17|
+------+--------+-------------+
only showing top 20 rows

+------+--------+-------------+
|school|class_cd|class_std_cnt|
+------+--------+-------------+
| GOOBU|     18K|           31|
| ZOWMK|     ZBH|           30|
| VVTVA|     A93|           30|
| VVTVA|     YTB|           30|
| ZOWMK|     Q0E|           30|
| ZOWMK|     QA2|           30|
| VVTVA|     7BL|           29|
| QOQTS|     SUR|           28|
| CUQAM|     1Q1|           28|
| CUQAM|     OMI|           28|
| GOOBU|     HKF|           28|
| QOQTS|     0N7|           28|
| DNQDD|     ROP|           28|
| KFZMY|     1VD|           27|
| CUQAM|     BFY|           27|
| DNQDD|     XXJ|           27|
| DNQDD|     2AP|           27|
| GJJHK|     NOR|           27|
| ZOWMK|     CII|           27|
| GJJHK|     ZDT|           27|
+------+--------+-------------+
only showing top 20 rows

## select 연습

DataFrame은 class_df 를 사용합니다

1. 모든 row의  class_cd, school, loc, school_type, teaching_type을 출력하시오.  
   school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.
   
   
2. class_cd, school, scale 을 출력하시오.   
   scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.
   
   
3. class_cd, school, class_std_cnt를 출력하시오  
   class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.

In [24]:
# 모든 row의 class_cd, school, loc, school_type, teaching_type을 출력하시오.
# school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.
# hint : alias()
class_df.select('class_cd', 'school', 'loc', class_df.school_type.alias('공립/사립여부'), 'teaching_type').show(5)

# class_cd, school, scale 을 출력하시오.
# scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.
# hint : when()
class_df.select('class_cd', 'school', (when(class_df.class_std_cnt < 15, 'small')
                                        .when((class_df.class_std_cnt >= 15) & (class_df.class_std_cnt < 25), 'middle')
                                        .otherwise('big')).alias('scale')).show(30)


# class_cd, school, class_std_cnt를 출력하시오
# class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.
# hint : cast()
class_df.select('class_cd', 'school', class_df.class_std_cnt.cast('int')).printSchema()

+--------+------+--------+-------------+-------------+
|class_cd|school|     loc|공립/사립여부|teaching_type|
+--------+------+--------+-------------+-------------+
|     6OL| ANKYI|   Urban|   Non-public|     Standard|
|     ZNS| ANKYI|   Urban|   Non-public|     Standard|
|     2B1| CCAAW|Suburban|   Non-public| Experimental|
|     EPS| CCAAW|Suburban|   Non-public| Experimental|
|     IQN| CCAAW|Suburban|   Non-public| Experimental|
+--------+------+--------+-------------+-------------+
only showing top 5 rows

+--------+------+------+
|class_cd|school| scale|
+--------+------+------+
|     6OL| ANKYI|middle|
|     ZNS| ANKYI|middle|
|     2B1| CCAAW|middle|
|     EPS| CCAAW|middle|
|     IQN| CCAAW|middle|
|     PGK| CCAAW|middle|
|     UHU| CCAAW|middle|
|     UWK| CCAAW|middle|
|     A33| CIMBB|middle|
|     EID| CIMBB|middle|
|     HUJ| CIMBB|middle|
|     PC6| CIMBB|middle|
|     1Q1| CUQAM|   big|
|     BFY| CUQAM|   big|
|     OMI| CUQAM|   big|
|     X6Z| CUQAM|middle|
|     2AP| DNQDD|   big|
|     PW5| DNQDD|middle|
|     ROP| DNQDD|   big|
|     ST7| DNQDD|middle|
|     XXJ| DNQDD|   big|
|     197| FBUMG| small|
|     5LQ| FBUMG|middle|
|     JGD| FBUMG| small|
|     HCB| GJJHK|middle|
|     NOR| GJJHK|   big|
|     X78| GJJHK|middle|
|     YUC| GJJHK|middle|
|     ZDT| GJJHK|   big|
|     ENO| GOKXL|middle|
+--------+------+------+
only showing top 30 rows

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)

### sql

In [21]:
# sql을 사용해 같은 결과를 받아보기

# dataFrame을 테이블로 등록
class_df.createOrReplaceTempView('class')

# 모든 row의 class_cd, school, loc, school_type, teaching_type을 출력하시오.
# school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.
#  경우 백틱(``) 사용
spark.sql('''
    select class_cd, school, loc, school_type, teaching_type as `공립/사립여부`, teaching_type from class
''').show(3)


# class_cd, school, scale 을 출력하시오.
# scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.
spark.sql('''
    select class_cd, school,
        case when class_std_cnt < 15 then 'small'
            when class_std_cnt >= 15 and class_std_cnt < 25 then 'middle'
            else 'big'
        end as sacle 
    from class
''').show(50)


# class_cd, school, class_std_cnt를 출력하시오
# class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.
# spark built-in-fnc 의 cast()
spark.sql('''
    select class_cd, school, cast(class_std_cnt as string) from class
''').printSchema()

+--------+------+--------+-----------+-------------+-------------+
|class_cd|school|     loc|school_type|공립/사립여부|teaching_type|
+--------+------+--------+-----------+-------------+-------------+
|     6OL| ANKYI|   Urban| Non-public|     Standard|     Standard|
|     ZNS| ANKYI|   Urban| Non-public|     Standard|     Standard|
|     2B1| CCAAW|Suburban| Non-public| Experimental| Experimental|
+--------+------+--------+-----------+-------------+-------------+
only showing top 3 rows

+--------+------+------+
|class_cd|school| sacle|
+--------+------+------+
|     6OL| ANKYI|middle|
|     ZNS| ANKYI|middle|
|     2B1| CCAAW|middle|
|     EPS| CCAAW|middle|
|     IQN| CCAAW|middle|
|     PGK| CCAAW|middle|
|     UHU| CCAAW|middle|
|     UWK| CCAAW|middle|
|     A33| CIMBB|middle|
|     EID| CIMBB|middle|
|     HUJ| CIMBB|middle|
|     PC6| CIMBB|middle|
|     1Q1| CUQAM|   big|
|     BFY| CUQAM|   big|
|     OMI| CUQAM|   big|
|     X6Z| CUQAM|middle|
|     2AP| DNQDD|   big|
|     PW5| DNQDD|middle|
|     ROP| DNQDD|   big|
|     ST7| DNQDD|middle|
|     XXJ| DNQDD|   big|
|     197| FBUMG| small|
|     5LQ| FBUMG|middle|
|     JGD| FBUMG| small|
|     HCB| GJJHK|middle|
|     NOR| GJJHK|   big|
|     X78| GJJHK|middle|
|     YUC| GJJHK|middle|
|     ZDT| GJJHK|   big|
|     ENO| GOKXL|middle|
|     TSA| GOKXL|middle|
|     VA6| GOKXL|middle|
|     18K| GOOBU|   big|
|     CXC| GOOBU|middle|
|     HKF| GOOBU|   big|
|     PBA| GOOBU|middle|
|     U6J| GOOBU|   big|
|     W8A| GOOBU|   big|
|     05H| IDGFP|middle|
|     98D| IDGFP|middle|
|     G2L| IDGFP|middle|
|     P2A| IDGFP|middle|
|     XZM| IDGFP|middle|
|     1VD| KFZMY|   big|
|     21Q| KFZMY|   big|
|     2BR| KZKKE|middle|
|     3D0| KZKKE|middle|
|     5JK| KZKKE|middle|
|     O6A| KZKKE|middle|
|     QTU| KZKKE|middle|
+--------+------+------+
only showing top 50 rows

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)

## where(), filter()

1. 공립이면서 교육방식이 전문인 데이터를 출력하시오

2. 사립이면서 교육방식이 표준인 데이터를 출력하시오

3. 학교 이름이 V로 시작하는 데이터를 출력하시오

4. 학교 이름이 M로 끝나는 데이터를 출력하시오

5. 학교 이름에 NKY가 포함된 데이터를 출력하시오

6. 반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오

7. 학교 이름이 입력되지 않은 데이터들을 출력하시오

In [5]:
# dataFrame을 테이블로 등록
class_df.createOrReplaceTempView('class')

print('공립이면서 교육방식이 전문인 데이터를 출력하시오.')
class_df.select('*') \
            .where((class_df.school_type == 'Public') & 
                   (class_df.teaching_type == 'Experimental')) \
            .show(5)

print('사립이면서 교육방식이 표준 데이터를 출력하시오.')
class_df.select('*') \
            .where((class_df.school_type == 'Non-public') & 
                   (class_df.teaching_type == 'Standard')) \
            .show(5)

print('학교 이름이 V로 시작하는 데이터를 출력하시오.')
# like 사용
class_df.select('*') \
        .where(class_df.school.like('V%')) \
        .show(5)
# startswith() (''~로 시작하는' 의 의미) 로 풀이
class_df.select('*') \
        .where(class_df.school.startswith('V')) \
        .show(5)

print('학교 이름이 M로 끝하는 데이터를 출력하시오.')
# like 사용
class_df.select('*') \
        .where(class_df.school.like('%M')) \
        .show(5)
# endswith() (''~로 끝나는' 의 의미) 로 풀이
class_df.select('*') \
        .where(class_df.school.endswith('M')) \
        .show(5)

print('학교 이름에 NKY가 들어가는 데이터를 출력하시오.')
class_df.select('*') \
        .where(class_df.school.like('%NKY%')) \
        .show(5)
# contains() (~를 포함하고 있는)로 풀이
class_df.select('*') \
        .where(class_df.school.contains('NKY')) \
        .show(5)

print('반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.')
class_df.select('*') \
        .where(class_df.class_std_cnt.between(15, 24)) \
        .show(5)

print('학교 이름이 입력되지 않은 데이터들을 출력하시오')
class_df.select('*') \
        .filter(class_df.school.isNull()) \
        .show(5)

공립이면서 교육방식이 전문인 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     NOR| GJJHK|           27|Suburban|     Public| Experimental|
|     ENO| GOKXL|           22|   Rural|     Public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

사립이면서 교육방식이 표준 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

학교 이름이 V로 시작하는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
|     341| VKWQH|           18|Rural|     Public|     Standard|
|     D33| VKWQH|           21|Rural|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
|     341| VKWQH|           18|Rural|     Public|     Standard|
|     D33| VKWQH|           21|Rural|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

학교 이름이 M로 끝하는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|Urban|     Public| Experimental|
+--------+------+-------------+-----+-----------+-------------+

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|Urban|     Public| Experimental|
+--------+------+-------------+-----+-----------+-------------+

학교 이름에 NKY가 들어가는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

학교 이름이 입력되지 않은 데이터들을 출력하시오
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     MDS|  null|           18|Rural| Non-public|     Standard|
|     MDE|  null|           10|Rural| Non-public| Experimental|
|     6PP|  null|         null| null|       null|         null|
|     4SZ|  null|         null| null|       null|         null|
|     5SD|  null|         null| null|       null|         null|
+--------+------+-------------+-----+-----------+-------------+

#### sql

In [25]:
class_df.printSchema()

print('공립이면서 교육방식이 전문인 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where school_type = 'Public' and teaching_type = 'Experimental'
''').show(5)

print('사립이면서 교육방식이 표준 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where school_type= 'Non-public' and teaching_type = 'Standard'
''').show(5)

print('학교 이름이 V로 시작하는 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where school like 'V%'
''').show(5)

print('학교 이름이 M로 끝하는 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where school like '%M'
''').show(5)

print('학교 이름에 NKY가 들어가는 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where school like '%NKY%'
''').show(5)

print('반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.')
spark.sql('''
    select * from class 
    where class_std_cnt between 15 and 24
''').show(5)

print('학교 이름이 입력되지 않은 데이터들을 출력하시오')
spark.sql('''
    select * from class 
    where school is null
''').show(5)

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

공립이면서 교육방식이 전문인 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     NOR| GJJHK|           27|Suburban|     Public| Experimental|
|     ENO| GOKXL|           22|   Rural|     Public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

사립이면서 교육방식이 표준 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

학교 이름이 V로 시작하는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
|     341| VKWQH|           18|Rural|     Public|     Standard|
|     D33| VKWQH|           21|Rural|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

학교 이름이 M로 끝하는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|Urban|     Public| Experimental|
+--------+------+-------------+-----+-----------+-------------+

학교 이름에 NKY가 들어가는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 5 rows

학교 이름이 입력되지 않은 데이터들을 출력하시오
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     MDS|  null|           18|Rural| Non-public|     Standard|
|     MDE|  null|           10|Rural| Non-public| Experimental|
|     6PP|  null|         null| null|       null|         null|
|     4SZ|  null|         null| null|       null|         null|
|     5SD|  null|         null| null|       null|         null|
+--------+------+-------------+-----+-----------+-------------+