In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
# matplotlib 한글 꺠짐 방지
# apt-get update
# apt-get install fonts-nanum* 
# apt-get install fontconfig
# fc-cache -fv  # font 캐시 날리기
# rm -rf /home/hy1/.cache/matplotlib/  #matplotliob 폰트 캐시 날리기

In [3]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

In [4]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

In [9]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='NanumGothic')

## Load - DataWareHouse

## JDBC DICT

In [5]:
JDBC = {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA'
    , 'props':{
        'user':'dw_de'
        ,'password':'123qwe!@#QWE'
    }
}

### 1. LOC 테이블 저장

In [6]:
area = spark.read.csv('/corona_data/loc/sido_area.csv', encoding='CP949', header=True)
popu = spark.read.csv('/corona_data/loc/sido_population.csv', encoding='CP949', header=True)

In [7]:
# loc 데이터 저장
area_pop = area.join(popu, on='loc')
area_pop = area_pop.select(col('loc').alias('LOC')
                          ,col('area').alias('AREA')
                          ,col('total').alias('POPULATION'))
area_pop.show(5)
area_pop.write.jdbc(url=JDBC['url'], table='LOC', mode='append', properties=JDBC['props'])

+----+-----+----------+
| LOC| AREA|POPULATION|
+----+-----+----------+
|서울| 605 |  9736027 |
|부산| 770 |  3396109 |
|대구| 883 |  2412642 |
|인천|1065 |  3014739 |
|광주| 501 |  1462545 |
+----+-----+----------+
only showing top 5 rows

22/09/21 20:44:01 ERROR TaskSetManager: Task 0 in stage 5.0 failed 4 times; aborting job

Py4JJavaError: An error occurred while calling o58.jdbc.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 5.0 failed 4 times, most recent failure: Lost task 0.3 in stage 5.0 (TID 8) (localhost executor 2): java.sql.BatchUpdateException: ORA-00001: unique constraint (DW_DE.PK_LOC) violated

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
	Suppressed: java.sql.SQLIntegrityConstraintViolationException: ORA-00001: unique constraint (DW_DE.PK_LOC) violated

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 1, Position : 0, Sql = INSERT INTO LOC ("LOC","AREA","POPULATION") VALUES (:1 ,:2 ,:3 ), OriginalSql = INSERT INTO LOC ("LOC","AREA","POPULATION") VALUES (?,?,?), Error Msg = ORA-00001: unique constraint (DW_DE.PK_LOC) violated

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:893)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:69)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:115)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.BatchUpdateException: ORA-00001: unique constraint (DW_DE.PK_LOC) violated

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
	Suppressed: java.sql.SQLIntegrityConstraintViolationException: ORA-00001: unique constraint (DW_DE.PK_LOC) violated

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 1, Position : 0, Sql = INSERT INTO LOC ("LOC","AREA","POPULATION") VALUES (:1 ,:2 ,:3 ), OriginalSql = INSERT INTO LOC ("LOC","AREA","POPULATION") VALUES (?,?,?), Error Msg = ORA-00001: unique constraint (DW_DE.PK_LOC) violated

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more

### 2. CORONA_PATIENT 테이블 저장

In [8]:
#  코로나 감염자 데이터
path = '/corona_data/patient'
co_patient_json = spark.read.json(path, encoding='UTF-8')
# co_patient_json.show()

In [9]:
data = []
for r1 in co_patient_json.select('items').toLocalIterator():
    if not r1.items:
        continue
    for r2 in r1.items:
        data.append(r2)

patient_data = spark.createDataFrame(data)
patient_data.show(3)

co_patients = patient_data.select(
    patient_data.gubun.alias('LOC')
    ,patient_data.deathCnt.alias('DEATH_CNT')
     ,patient_data.defCnt.alias('DEF_CNT')
     ,patient_data.localOccCnt.alias('LOC_OCC_CNT')
     ,patient_data.qurRate.alias('QUR_RATE')
     ,patient_data.stdDay.alias('STD_DAY')
).where(~(col('LOC').isin(['합계','검역'])) ).distinct()
co_patients.printSchema()

+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|deathCnt| defCnt|gubun|gubunCn|    gubunEn|incDec|isolClearCnt|isolIngCnt|localOccCnt|overFlowCnt|qurRate|    stdDay|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|    6715|6109867| 경기|   京畿|Gyeonggi-do| 27032|           0|         0|      27007|         25|  45040|2022-08-25|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
only showing top 3 rows

root
 |-- LOC: string (nullable = true)
 |-- DEATH_CNT: string (nullable = true)
 |-- DEF_CNT: string (nullable = true)
 |-- LOC_OCC_CNT: string (nullable = true)
 |-- QUR_RATE: string (nullable = true)
 |-- STD_DAY: string (nullable = true)

In [10]:
co_patients.write.jdbc(url=JDBC['url'], table='CORONA_PATIENTS', mode='append', properties=JDBC['props'])

### 3.  CORONA_VACCINE 테이블 저장

In [11]:
file_name = '/corona_data/vaccine/'
vaccine = spark.read.json(file_name, multiLine=True)
# vaccine.printSchema()
# vaccine.show()
vaccine.show()

+----------------------+---------------------------+
|                  data|                       meta|
+----------------------+---------------------------+
|[{서울, 8340594, 82...|{{지역, 1차 접종자 수, 2...|
|[{서울, 8340594, 82...|{{지역, 1차 접종자 수, 2...|
|[{서울, 8340594, 82...|{{지역, 1차 접종자 수, 2...|
|[{서울, 8340594, 82...|{{지역, 1차 접종자 수, 2...|
+----------------------+---------------------------+

In [12]:
vaccine.select('meta').collect()

[Row(meta=Row(cols=Row(loc='지역', v1='1차 접종자 수', v2='2차 접종자 수', v3='3차 접종자 수', v4='4차 접종자 수'), desc='지역별 코로나 예방접종 인구 현황', std_day='2022-09-20')),
 Row(meta=Row(cols=Row(loc='지역', v1='1차 접종자 수', v2='2차 접종자 수', v3='3차 접종자 수', v4='4차 접종자 수'), desc='지역별 코로나 예방접종 인구 현황', std_day='2022-09-20')),
 Row(meta=Row(cols=Row(loc='지역', v1='1차 접종자 수', v2='2차 접종자 수', v3='3차 접종자 수', v4='4차 접종자 수'), desc='지역별 코로나 예방접종 인구 현황', std_day='2022-09-20')),
 Row(meta=Row(cols=Row(loc='지역', v1='1차 접종자 수', v2='2차 접종자 수', v3='3차 접종자 수', v4='4차 접종자 수'), desc='지역별 코로나 예방접종 인구 현황', std_day='2022-09-20'))]

In [13]:
data = []
for r1 in vaccine.select(vaccine.data, vaccine.meta.std_day).toLocalIterator():
    for r2 in r1.data:
        # row 객체를 만들기 위해 dict 생성
        # ** : 파이썬 압축해제 키워드 
        # **kwargs   => 여러 쌍의 키워드 args 가 넘어오면 받아서 dictionary로 반환
        # fnc(**dict) => dict에 있는 key-value 값들이 여러쌍의 kwargs  형태로 함수에 전달
        temp = r2.asDict()
        temp['std_day'] = r1['meta.std_day']
        data.append(Row(**temp))
        
vaccine_data = spark.createDataFrame(data)
vaccine_data.show()

+----+--------+--------+-------+-------+----------+
| loc|      v1|      v2|     v3|     v4|   std_day|
+----+--------+--------+-------+-------+----------+
|서울| 8340594| 8261820|6059425|1234961|2022-09-20|
|부산| 2879935| 2851053|2135051| 491250|2022-09-20|
|대구| 2019324| 1996388|1402909| 260991|2022-09-20|
|인천| 2571025| 2546513|1908217| 397009|2022-09-20|
|광주| 1262714| 1251075| 968223| 235024|2022-09-20|
|대전| 1246204| 1233936| 907769| 194238|2022-09-20|
|울산|  968622|  959286| 719598| 126449|2022-09-20|
|세종|  298623|  294869| 209215|  34781|2022-09-20|
|경기|11828395|11712740|8679447|1693083|2022-09-20|
|강원| 1350441| 1339090|1062296| 270636|2022-09-20|
|충북| 1429657| 1417026|1106106| 278802|2022-09-20|
|충남| 1899596| 1881925|1475792| 367768|2022-09-20|
|전북| 1593776| 1580633|1284291| 371703|2022-09-20|
|전남| 1654760| 1640137|1363391| 445933|2022-09-20|
|경북| 2293452| 2269551|1724837| 396719|2022-09-20|
|경남| 2883560| 2854210|2142491| 486430|2022-09-20|
|제주|  590596|  584859| 437922|  92785|2022-09-20|
|서울| 8340594| 8261820|6059425|1234961|2022-09-20|
|부산| 2879935| 2851053|2135051| 491250|2022-09-20|
|대구| 2019324| 1996388|1402909| 260991|2022-09-20|
+----+--------+--------+-------+-------+----------+
only showing top 20 rows

In [14]:
# column 을 row 로 변환 : stack
# row 를 colum 으로 변환 : pivot
pd_vaccine = vaccine_data.to_pandas_on_spark()
pd_vaccine = pd_vaccine.set_index(['loc','std_day'])
pd_vaccine = pd_vaccine.stack()
# 시리즈나 데이터프레임으로 반환돠는데, 이 때 아래 사용
pd_vaccine = pd_vaccine.to_dataframe('V_CNT') # 0이 컬럼명에 들어가 있는 거 확인  V_CNT로 변경
pd_vaccine

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

                      V_CNT
loc std_day
서울  2022-09-20 v2   8261820
               v4   1234961
               v1   8340594
               v3   6059425
부산  2022-09-20 v2   2851053
               v4    491250
               v1   2879935
               v3   2135051
대구  2022-09-20 v2   1996388
               v4    260991
               v1   2019324
               v3   1402909
인천  2022-09-20 v2   2546513
               v4    397009
               v1   2571025
               v3   1908217
광주  2022-09-20 v2   1251075
               v4    235024
               v1   1262714
               v3    968223
대전  2022-09-20 v2   1233936
               v4    194238
               v1   1246204
               v3    907769
울산  2022-09-20 v2    959286
               v4    126449
               v1    968622
               v3    719598
세종  2022-09-20 v2    294869
               v4     34781
               v1    298623
               v3    209215
경기  2022-09-20 v2  11712740
               v4   1693083
               v1  11828395
               v3   8679447
강원  2022-09-20 v2   1339090
               v4    270636
               v1   1350441
               v3   1062296
충북  2022-09-20 v2   1417026
               v4    278802
               v1   1429657
               v3   1106106
충남  2022-09-20 v2   1881925
               v4    367768
               v1   1899596
               v3   1475792
전북  2022-09-20 v2   1580633
               v4    371703
               v1   1593776
               v3   1284291
전남  2022-09-20 v2   1640137
               v4    445933
               v1   1654760
               v3   1363391
경북  2022-09-20 v2   2269551
               v4    396719
               v1   2293452
               v3   1724837
경남  2022-09-20 v2   2854210
               v4    486430
               v1   2883560
               v3   2142491
제주  2022-09-20 v2    584859
               v4     92785
               v1    590596
               v3    437922
서울  2022-09-20 v2   8261820
               v4   1234961
               v1   8340594
               v3   6059425
부산  2022-09-20 v2   2851053
               v4    491250
               v1   2879935
               v3   2135051
대구  2022-09-20 v2   1996388
               v4    260991
               v1   2019324
               v3   1402909
인천  2022-09-20 v2   2546513
               v4    397009
               v1   2571025
               v3   1908217
광주  2022-09-20 v2   1251075
               v4    235024
               v1   1262714
               v3    968223
대전  2022-09-20 v2   1233936
               v4    194238
               v1   1246204
               v3    907769
울산  2022-09-20 v2    959286
               v4    126449
               v1    968622
               v3    719598
세종  2022-09-20 v2    294869
               v4     34781
               v1    298623
               v3    209215
경기  2022-09-20 v2  11712740
               v4   1693083
               v1  11828395
               v3   8679447
강원  2022-09-20 v2   1339090
               v4    270636
               v1   1350441
               v3   1062296
충북  2022-09-20 v2   1417026
               v4    278802
               v1   1429657
               v3   1106106
충남  2022-09-20 v2   1881925
               v4    367768
               v1   1899596
               v3   1475792
전북  2022-09-20 v2   1580633
               v4    371703
               v1   1593776
               v3   1284291
전남  2022-09-20 v2   1640137
               v4    445933
               v1   1654760
               v3   1363391
경북  2022-09-20 v2   2269551
               v4    396719
               v1   2293452
               v3   1724837
경남  2022-09-20 v2   2854210
               v4    486430
               v1   2883560
               v3   2142491
제주  2022-09-20 v2    584859
               v4     92785
               v1    590596
               v3    437922
서울  2022-09-20 v2   8261820
               v4   1234961
               v1   8340594
               v3   6059425
부산  2022-09-20 v2   2851053
               v4    491250
               v1   2879935
               v3   2135051
대구  2022-09-20 v2   1996388
               v4    260991
               v1   2019324
               v3   1402909
인천  2022-09-20 v2   2546513
               v4    397009
               v1   2571025
               v3   1908217
광주  2022-09-20 v2   1251075
               v4    235024
               v1   1262714
               v3    968223
대전  2022-09-20 v2   1233936
               v4    194238
               v1   1246204
               v3    907769
울산  2022-09-20 v2    959286
               v4    126449
               v1    968622
               v3    719598
세종  2022-09-20 v2    294869
               v4     34781
               v1    298623
               v3    209215
경기  2022-09-20 v2  11712740
               v4   1693083
               v1  11828395
               v3   8679447
강원  2022-09-20 v2   1339090
               v4    270636
               v1   1350441
               v3   1062296
충북  2022-09-20 v2   1417026
               v4    278802
               v1   1429657
               v3   1106106
충남  2022-09-20 v2   1881925
               v4    367768
               v1   1899596
               v3   1475792
전북  2022-09-20 v2   1580633
               v4    371703
               v1   1593776
               v3   1284291
전남  2022-09-20 v2   1640137
               v4    445933
               v1   1654760
               v3   1363391
경북  2022-09-20 v2   2269551
               v4    396719
               v1   2293452
               v3   1724837
경남  2022-09-20 v2   2854210
               v4    486430
               v1   2883560
               v3   2142491
제주  2022-09-20 v2    584859
               v4     92785
               v1    590596
               v3    437922
서울  2022-09-20 v2   8261820
               v4   1234961
               v1   8340594
               v3   6059425
부산  2022-09-20 v2   2851053
               v4    491250
               v1   2879935
               v3   2135051
대구  2022-09-20 v2   1996388
               v4    260991
               v1   2019324
               v3   1402909
인천  2022-09-20 v2   2546513
               v4    397009
               v1   2571025
               v3   1908217
광주  2022-09-20 v2   1251075
               v4    235024
               v1   1262714
               v3    968223
대전  2022-09-20 v2   1233936
               v4    194238
               v1   1246204
               v3    907769
울산  2022-09-20 v2    959286
               v4    126449
               v1    968622
               v3    719598
세종  2022-09-20 v2    294869
               v4     34781
               v1    298623
               v3    209215
경기  2022-09-20 v2  11712740
               v4   1693083
               v1  11828395
               v3   8679447
강원  2022-09-20 v2   1339090
               v4    270636
               v1   1350441
               v3   1062296
충북  2022-09-20 v2   1417026
               v4    278802
               v1   1429657
               v3   1106106
충남  2022-09-20 v2   1881925
               v4    367768
               v1   1899596
               v3   1475792
전북  2022-09-20 v2   1580633
               v4    371703
               v1   1593776
               v3   1284291
전남  2022-09-20 v2   1640137
               v4    445933
               v1   1654760
               v3   1363391
경북  2022-09-20 v2   2269551
               v4    396719
               v1   2293452
               v3   1724837
경남  2022-09-20 v2   2854210
               v4    486430
               v1   2883560
               v3   2142491
제주  2022-09-20 v2    584859
               v4     92785
               v1    590596
               v3    437922

In [15]:
pd_vaccine = pd_vaccine.reset_index()
pd_vaccine= pd_vaccine.rename(columns={'level_2':'V_TH'})
vaccine_data.drop('level_0')
vaccine_data.drop('index')
vaccine_data.show()

DataFrame[loc: string, v1: string, v2: string, v3: string, v4: string, std_day: string]

DataFrame[loc: string, v1: string, v2: string, v3: string, v4: string, std_day: string]

+----+--------+--------+-------+-------+----------+
| loc|      v1|      v2|     v3|     v4|   std_day|
+----+--------+--------+-------+-------+----------+
|서울| 8340594| 8261820|6059425|1234961|2022-09-20|
|부산| 2879935| 2851053|2135051| 491250|2022-09-20|
|대구| 2019324| 1996388|1402909| 260991|2022-09-20|
|인천| 2571025| 2546513|1908217| 397009|2022-09-20|
|광주| 1262714| 1251075| 968223| 235024|2022-09-20|
|대전| 1246204| 1233936| 907769| 194238|2022-09-20|
|울산|  968622|  959286| 719598| 126449|2022-09-20|
|세종|  298623|  294869| 209215|  34781|2022-09-20|
|경기|11828395|11712740|8679447|1693083|2022-09-20|
|강원| 1350441| 1339090|1062296| 270636|2022-09-20|
|충북| 1429657| 1417026|1106106| 278802|2022-09-20|
|충남| 1899596| 1881925|1475792| 367768|2022-09-20|
|전북| 1593776| 1580633|1284291| 371703|2022-09-20|
|전남| 1654760| 1640137|1363391| 445933|2022-09-20|
|경북| 2293452| 2269551|1724837| 396719|2022-09-20|
|경남| 2883560| 2854210|2142491| 486430|2022-09-20|
|제주|  590596|  584859| 437922|  92785|2022-09-20|
|서울| 8340594| 8261820|6059425|1234961|2022-09-20|
|부산| 2879935| 2851053|2135051| 491250|2022-09-20|
|대구| 2019324| 1996388|1402909| 260991|2022-09-20|
+----+--------+--------+-------+-------+----------+
only showing top 20 rows

In [16]:
vaccine_data = pd_vaccine.to_spark()
vaccine_data.show()

+----+----------+----+-------+
| loc|   std_day|V_TH|  V_CNT|
+----+----------+----+-------+
|서울|2022-09-20|  v2|8261820|
|서울|2022-09-20|  v4|1234961|
|서울|2022-09-20|  v1|8340594|
|서울|2022-09-20|  v3|6059425|
|부산|2022-09-20|  v2|2851053|
|부산|2022-09-20|  v4| 491250|
|부산|2022-09-20|  v1|2879935|
|부산|2022-09-20|  v3|2135051|
|대구|2022-09-20|  v2|1996388|
|대구|2022-09-20|  v4| 260991|
|대구|2022-09-20|  v1|2019324|
|대구|2022-09-20|  v3|1402909|
|인천|2022-09-20|  v2|2546513|
|인천|2022-09-20|  v4| 397009|
|인천|2022-09-20|  v1|2571025|
|인천|2022-09-20|  v3|1908217|
|광주|2022-09-20|  v2|1251075|
|광주|2022-09-20|  v4| 235024|
|광주|2022-09-20|  v1|1262714|
|광주|2022-09-20|  v3| 968223|
+----+----------+----+-------+
only showing top 20 rows

In [17]:
vaccine_data.write.jdbc(url=JDBC['url'], table='CORONA_VACCINE', mode='append', properties=JDBC['props'])

### 4. LOC_FACILITY_CNT	테이블 저장