In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 데이터마트용 계정 생성
# sqlDeveloper에서 진행
# create user dm_admin IDENTIFIED BY "123qwe!@#QWE";
# grant dwrole to dm_admin;
# grant unlimited tablespace to dm_admin;

In [4]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

In [5]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='NanumGothic')

In [6]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

### JDBC

In [7]:
JDBC_DW= {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA'
    , 'props':{
        'user':'dw_de'
        ,'password':'123qwe!@#QWE'
    }
}

JDBC_DM= {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA'
    , 'props':{
        'user':'dm_de'
        ,'password':'123qwe!@#QWE'
    }
}

## Load DataMart

### 1. 지역별 단위면적(km)당 인구수와 코로나 확진자 수 데이터 저장

In [8]:
popu = spark.read.jdbc(url=JDBC_DW['url'], table='loc', properties=JDBC_DW['props'])
patients = spark.read.jdbc(url=JDBC_DW['url'], table='corona_patients', properties=JDBC_DW['props'])

popu.show(3)
patients.show(3)

+----+----+----------+------------+
| LOC|AREA|POPULATION|FACILITY_CNT|
+----+----+----------+------------+
|서울| 605|   9736027|        5224|
|부산| 770|   3396109|        1462|
|대구| 883|   2412642|        1015|
+----+----+----------+------------+
only showing top 3 rows

+------+----+---------+-------+-----------+--------+----------+
|cp_idx| LOC|DEATH_CNT|DEF_CNT|LOC_OCC_CNT|QUR_RATE|   STD_DAY|
+------+----+---------+-------+-----------+--------+----------+
|   315|충남|      983| 768503|       3634|   36263|2022-07-28|
|   316|광주|      573| 564428|       2443|   39153|2022-07-28|
|   317|경남|     1351|1332140|       7565|   40195|2022-08-21|
+------+----+---------+-------+-----------+--------+----------+
only showing top 3 rows

In [15]:
pop_patients = popu.join(patients, on='loc') \
                            .select('loc', 
                                   ceil(col('population')/col('area')).alias('POPU_DENSITY'),
                                        'qur_rate',
                                        'std_day') \
                                    .orderBy(col('std_day'))
pop_patients.show()

+----+------------+--------+----------+
| loc|POPU_DENSITY|qur_rate|   std_day|
+----+------------+--------+----------+
|강원|          93|   36318|2022-07-28|
|광주|        2920|   39153|2022-07-28|
|대구|        2733|   34103|2022-07-28|
|대전|        2722|   37839|2022-07-28|
|부산|        4411|   35083|2022-07-28|
|경기|        1366|   39145|2022-07-28|
|울산|        1072|   37239|2022-07-28|
|인천|        2831|   38908|2022-07-28|
|전남|         152|   34379|2022-07-28|
|전북|         226|   35868|2022-07-28|
|제주|         378|   39131|2022-07-28|
|충남|         265|   36263|2022-07-28|
|충북|         221|   37296|2022-07-28|
|서울|       16093|   41322|2022-07-28|
|경남|         321|   35192|2022-07-28|
|세종|         811|   40272|2022-07-28|
|경북|         141|   32018|2022-07-28|
|경남|         321|   35327|2022-07-29|
|경기|        1366|   39319|2022-07-29|
|강원|          93|   36498|2022-07-29|
+----+------------+--------+----------+
only showing top 20 rows

In [16]:
pop_patients.write.jdbc(url=JDBC_DM['url'], table='CO_POPU_DENSITY', mode='append', properties=JDBC_DM['props'])

### 2.  백신접종 완료자와 코로나 확진자 수 데이터 저장

In [9]:
vaccine = spark.read.jdbc(url=JDBC_DW['url'], table='CORONA_VACCINE', properties=JDBC_DW['props'])

In [10]:
vaccine.show(3)

+------+----+----+-------+----------+
|CV_IDX| LOC|V_TH|  V_CNT|   STD_DAY|
+------+----+----+-------+----------+
|     1|서울|  v2|8261615|2022-09-18|
|     2|서울|  v4|1231362|2022-09-18|
|     3|서울|  v1|8340437|2022-09-18|
+------+----+----+-------+----------+
only showing top 3 rows

In [11]:
pd_vaccine = vaccine.to_pandas_on_spark()
pd_vaccine = pd_vaccine.pivot_table(index=['LOC', 'STD_DAY'], columns='V_TH', values='V_CNT')
pd_vaccine
pd_vaccine = pd_vaccine.reset_index()
tmp = pd_vaccine.to_spark()
vaccine.show(5)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

V_TH                       v1             v2            v3            v4
LOC STD_DAY
경기  2022-09-18  11828148.0000  11712435.0000  8678460.0000  1688068.0000
충북  2022-09-18   1429660.0000   1417015.0000  1106015.0000   278087.0000
울산  2022-09-18    968616.0000    959274.0000   719551.0000   125398.0000
경북  2022-09-18   2293393.0000   2269467.0000  1724688.0000   395869.0000
대구  2022-09-18   2019298.0000   1996365.0000  1402789.0000   260381.0000
인천  2022-09-18   2570971.0000   2546449.0000  1908028.0000   396104.0000
서울  2022-09-18   8340437.0000   8261615.0000  6058568.0000  1231362.0000
경남  2022-09-18   2883579.0000   2854198.0000  2142332.0000   485197.0000
충남  2022-09-18   1899521.0000   1881852.0000  1475649.0000   366884.0000
광주  2022-09-18   1262686.0000   1251041.0000   968138.0000   234405.0000
전남  2022-09-18   1654761.0000   1640127.0000  1363331.0000   445122.0000
부산  2022-09-18   2879935.0000   2851047.0000  2134874.0000   490187.0000
대전  2022-09-18   1246195.0000   1233926.0000   907679.0000   193829.0000
강원  2022-09-18   1350365.0000   1338994.0000  1062198.0000   270055.0000
제주  2022-09-18    590587.0000    584841.0000   437858.0000    92385.0000
세종  2022-09-18    298612.0000    294854.0000   209194.0000    34695.0000
전북  2022-09-18   1593762.0000   1580606.0000  1284213.0000   371028.0000

+------+----+----+-------+----------+
|CV_IDX| LOC|V_TH|  V_CNT|   STD_DAY|
+------+----+----+-------+----------+
|     1|서울|  v2|8261615|2022-09-18|
|     2|서울|  v4|1231362|2022-09-18|
|     3|서울|  v1|8340437|2022-09-18|
|     4|서울|  v3|6058568|2022-09-18|
|     5|부산|  v2|2851047|2022-09-18|
+------+----+----+-------+----------+
only showing top 5 rows

In [12]:
vac_rate = tmp.join(popu, on='LOC') \
                    .join(patients, on='LOC') \
                    .select('LOC', patients.STD_DAY
                               ,ceil(col('v1')/col('population') * 100).alias('V1TH_RATE')
                                ,ceil(col('v2')/col('population') * 100).alias('V2TH_RATE')
                                ,ceil(col('v3')/col('population') * 100).alias('V3TH_RATE')
                                ,ceil(col('v4')/col('population') * 100).alias('V4TH_RATE')
                                , 'QUR_RATE'
                               ).orderBy(col('std_day'))

vac_rate.show(5)

+----+----------+---------+---------+---------+---------+--------+
| LOC|   STD_DAY|V1TH_RATE|V2TH_RATE|V3TH_RATE|V4TH_RATE|QUR_RATE|
+----+----------+---------+---------+---------+---------+--------+
|대구|2022-07-28|       84|       83|       59|       11|   34103|
|울산|2022-07-28|       86|       85|       64|       12|   37239|
|대전|2022-07-28|       85|       84|       62|       14|   37839|
|경기|2022-07-28|       85|       85|       63|       13|   39145|
|부산|2022-07-28|       85|       84|       63|       15|   35083|
+----+----------+---------+---------+---------+---------+--------+
only showing top 5 rows

In [13]:
vac_rate.write.jdbc(url=JDBC_DM['url'], table='CO_VACCINE', mode='append', properties=JDBC_DM['props'])

### 3. 다중이용시설과 코로나 확진자 수의 상관관계

### 4. 요일별 코로나 확진자 수를 구해보자