## groupBy()

In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [19]:
schema = StructType([
    StructField('class_cd', StringType()),
    StructField('school', StringType()),
    StructField('class_std_cnt', IntegerType()),
    StructField('loc', StringType()),
    StructField('school_type', StringType()),
    StructField('teaching_type', StringType()),
])

cdf = spark.read.csv('/dataframe/a_class_info.csv', header=True, schema=schema)
cdf.printSchema()
cdf.createOrReplaceTempView('class')

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

groupBy  : 집계함수를 가지고 있는 GroupData 객체를 반환한다.  

GrouopData객체의 집계함수들을 사용해 grouping 된 데이터들의 집계결과를 저장하고 있는 DataFrame을 반환 받을 수 있다.

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
|     HUJ| CIMBB|           17|   Urban| Non-public| Experimental|
|     PC6| CIMBB|           17|   Urban| Non-public|     Standard|
|     1Q1| CUQAM|           28|   Urban|     Public|     Standard|
|     BFY| CUQAM|           27|   Urban|     Public|     Standard|
|     OMI| CUQAM|           28|   Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     2AP| DNQDD|           27|Suburban|     Public|     Standard|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     ST7| DNQDD|           20|Suburban|     Public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 20 rows

+--------+-------------+------------------+
|     loc|teaching_type|sum(class_std_cnt)|
+--------+-------------+------------------+
|   Rural| Experimental|               211|
|    null|         null|              null|
|   Urban|     Standard|               631|
|Suburban|     Standard|               433|
|   Rural|     Standard|               327|
|Suburban| Experimental|               284|
|   Urban| Experimental|               275|
+--------+-------------+------------------+

지역별 class 숫자를 계산해보자. 단 지역정보가 없는 데이터는 제외한다.

+--------+-----+
|     loc|count|
+--------+-----+
|   Urban|   37|
|Suburban|   34|
|   Rural|   28|
+--------+-----+

지역별 교육타입별 학생 숫자와 평균을 구해보자. 단 학생 숫자가 300미만인 데이터는 제외한다.

+--------+-------------+------------------+------------------+
|     loc|teaching_type|sum(class_std_cnt)|avg(class_std_cnt)|
+--------+-------------+------------------+------------------+
|   Urban|     Standard|               631| 24.26923076923077|
|Suburban|     Standard|               433|             21.65|
|   Rural|     Standard|               327|           20.4375|
+--------+-------------+------------------+------------------+

컬럼명이 sum(class_std_cnt) 이라니 너무 이상하다. 집계함수를 수행하고 별칭을 붙여보자

+--------+-------------+-----+-----------------+
|     loc|teaching_type|total|              avg|
+--------+-------------+-----+-----------------+
|   Urban|     Standard|  631|24.26923076923077|
|Suburban|     Standard|  433|            21.65|
|   Rural|     Standard|  327|          20.4375|
+--------+-------------+-----+-----------------+

+--------+-------------+-----+-----------------+---+---+------------------+
|     loc|teaching_type|total|              avg|max|min|            stddev|
+--------+-------------+-----+-----------------+---+---+------------------+
|   Urban|     Standard|  631|24.26923076923077| 31| 17| 4.229020617662603|
|Suburban|     Standard|  433|            21.65| 27| 15|3.1668513334889994|
|   Rural|     Standard|  327|          20.4375| 24| 16|2.1899391163530857|
+--------+-------------+-----+-----------------+---+---+------------------+

In [ ]:
# 학교가 가장 많이 위치한 지역의 학생 수 총합과, 가장 적게 위치한 지역의 학생 수 총 합 간의 차이를 구해보자

#### sql

## orderBy()

In [43]:
print('반 학생 숫자를 기준으로 내림차순 정렬하라')
# 방법1 (권장)
cdf.select('*') \
    .orderBy(cdf.class_std_cnt.desc()).show(5)
# 방법 2
cdf.select('*') \
    .orderBy(cdf.class_std_cnt, ascending= False).show(5)
# 방법 3
cdf.select('*') \
    .orderBy(cdf.class_std_cnt, ascending=[0]).show(5)

print('loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라')
# 방법 1 (권장)
cdf.select('*') \
    .orderBy(cdf.loc.asc(), cdf.school.desc()).show(50)
# 방법 2
cdf.select('*') \
    .orderBy(cdf.loc.asc(), desc('school')).show(50)
# 방법 3
cdf.select('*') \
    .orderBy(["loc", "school"], ascending=[0, 1]).show(50)

print('학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라')
cdf.select('*') \
    .orderBy(cdf.school_type.asc_nulls_first()).show(30)

### 앞으로 select('*')을 하려면 생략가능 cdf.select('*').orderBy => cdf.orderBy

반 학생 숫자를 기준으로 내림차순 정렬하라
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     18K| GOOBU|           31|Urban|     Public|     Standard|
|     A93| VVTVA|           30|Urban|     Public| Experimental|
|     Q0E| ZOWMK|           30|Urban|     Public| Experimental|
|     YTB| VVTVA|           30|Urban|     Public| Experimental|
|     QA2| ZOWMK|           30|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     18K| GOOBU|           31|Urban|     Public|     Standard|
|     A93| VVTVA|           30|Urban|     Public| Experimental|
|     Q0E| ZOWMK|           30|Urban|     Public| Experimental|
|     YTB| VVTVA|           30|Urban|     Public| Experimental|
|     QA2| ZOWMK|           30|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     18K| GOOBU|           31|Urban|     Public|     Standard|
|     A93| VVTVA|           30|Urban|     Public| Experimental|
|     Q0E| ZOWMK|           30|Urban|     Public| Experimental|
|     YTB| VVTVA|           30|Urban|     Public| Experimental|
|     QA2| ZOWMK|           30|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     4SZ|  null|         null|    null|       null|         null|
|     6PP|  null|         null|    null|       null|         null|
|     5SD|  null|         null|    null|       null|         null|
|     DFQ| VKWQH|           19|   Rural|     Public| Experimental|
|     GYM| VKWQH|           20|   Rural|     Public|     Standard|
|     D33| VKWQH|           21|   Rural|     Public|     Standard|
|     IEM| VKWQH|           22|   Rural|     Public| Experimental|
|     341| VKWQH|           18|   Rural|     Public|     Standard|
|     J6X| VHDHF|           16|   Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|   Rural| Non-public| Experimental|
|     CD8| VHDHF|           20|   Rural| Non-public| Experimental|
|     FS3| OJOBU|           19|   Rural|     Public|     Standard|
|     XJ8| OJOBU|           23|   Rural|     Public|     Standard|
|     5SZ| OJOBU|           17|   Rural|     Public| Experimental|
|     6U9| OJOBU|           22|   Rural|     Public|     Standard|
|     J8J| LAYPA|           19|   Rural|     Public|     Standard|
|     RA5| LAYPA|           17|   Rural|     Public| Experimental|
|     AJ1| LAYPA|           21|   Rural|     Public|     Standard|
|     5JK| KZKKE|           24|   Rural|     Public|     Standard|
|     2BR| KZKKE|           20|   Rural|     Public|     Standard|
|     3D0| KZKKE|           22|   Rural|     Public|     Standard|
|     O6A| KZKKE|           22|   Rural|     Public|     Standard|
|     QTU| KZKKE|           23|   Rural|     Public|     Standard|
|     VA6| GOKXL|           19|   Rural|     Public|     Standard|
|     ENO| GOKXL|           22|   Rural|     Public| Experimental|
|     TSA| GOKXL|           23|   Rural|     Public| Experimental|
|     197| FBUMG|           14|   Rural| Non-public| Experimental|
|     5LQ| FBUMG|           18|   Rural| Non-public| Experimental|
|     JGD| FBUMG|           14|   Rural| Non-public| Experimental|
|     MDS|  null|           18|   Rural| Non-public|     Standard|
|     MDE|  null|           10|   Rural| Non-public| Experimental|
|     4NN| ZMNYA|           22|Suburban|     Public|     Standard|
|     1UU| ZMNYA|           24|Suburban|     Public| Experimental|
|     V77| ZMNYA|           23|Suburban|     Public| Experimental|
|     H7S| UUUQX|           16|Suburban| Non-public| Experimental|
|     P8I| UUUQX|           20|Suburban| Non-public|     Standard|
|     SSP| UUUQX|           15|Suburban| Non-public|     Standard|
|     6C1| UUUQX|           16|Suburban| Non-public|     Standard|
|     AE1| UUUQX|           17|Suburban| Non-public| Experimental|
|     PGH| UKPGS|           23|Suburban|     Public| Experimental|
|     IPU| UKPGS|           19|Suburban|     Public| Experimental|
|     08N| UKPGS|           21|Suburban|     Public|     Standard|
|     XXE| UKPGS|           22|Suburban|     Public|     Standard|
|     9AW| UKPGS|           25|Suburban|     Public|     Standard|
|     KXB| UKPGS|           18|Suburban|     Public| Experimental|
|     NWZ| UAGPU|           21|Suburban|     Public|     Standard|
|     62L| UAGPU|           23|Suburban|     Public|     Standard|
|     S98| UAGPU|           21|Suburban|     Public|     Standard|
|     1SZ| UAGPU|           22|Suburban|     Public|     Standard|
|     X78| GJJHK|           21|Suburban|     Public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 50 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     4SZ|  null|         null|    null|       null|         null|
|     6PP|  null|         null|    null|       null|         null|
|     5SD|  null|         null|    null|       null|         null|
|     DFQ| VKWQH|           19|   Rural|     Public| Experimental|
|     GYM| VKWQH|           20|   Rural|     Public|     Standard|
|     D33| VKWQH|           21|   Rural|     Public|     Standard|
|     IEM| VKWQH|           22|   Rural|     Public| Experimental|
|     341| VKWQH|           18|   Rural|     Public|     Standard|
|     J6X| VHDHF|           16|   Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|   Rural| Non-public| Experimental|
|     CD8| VHDHF|           20|   Rural| Non-public| Experimental|
|     FS3| OJOBU|           19|   Rural|     Public|     Standard|
|     XJ8| OJOBU|           23|   Rural|     Public|     Standard|
|     5SZ| OJOBU|           17|   Rural|     Public| Experimental|
|     6U9| OJOBU|           22|   Rural|     Public|     Standard|
|     J8J| LAYPA|           19|   Rural|     Public|     Standard|
|     RA5| LAYPA|           17|   Rural|     Public| Experimental|
|     AJ1| LAYPA|           21|   Rural|     Public|     Standard|
|     5JK| KZKKE|           24|   Rural|     Public|     Standard|
|     2BR| KZKKE|           20|   Rural|     Public|     Standard|
|     3D0| KZKKE|           22|   Rural|     Public|     Standard|
|     O6A| KZKKE|           22|   Rural|     Public|     Standard|
|     QTU| KZKKE|           23|   Rural|     Public|     Standard|
|     VA6| GOKXL|           19|   Rural|     Public|     Standard|
|     ENO| GOKXL|           22|   Rural|     Public| Experimental|
|     TSA| GOKXL|           23|   Rural|     Public| Experimental|
|     197| FBUMG|           14|   Rural| Non-public| Experimental|
|     5LQ| FBUMG|           18|   Rural| Non-public| Experimental|
|     JGD| FBUMG|           14|   Rural| Non-public| Experimental|
|     MDS|  null|           18|   Rural| Non-public|     Standard|
|     MDE|  null|           10|   Rural| Non-public| Experimental|
|     4NN| ZMNYA|           22|Suburban|     Public|     Standard|
|     1UU| ZMNYA|           24|Suburban|     Public| Experimental|
|     V77| ZMNYA|           23|Suburban|     Public| Experimental|
|     H7S| UUUQX|           16|Suburban| Non-public| Experimental|
|     P8I| UUUQX|           20|Suburban| Non-public|     Standard|
|     SSP| UUUQX|           15|Suburban| Non-public|     Standard|
|     6C1| UUUQX|           16|Suburban| Non-public|     Standard|
|     AE1| UUUQX|           17|Suburban| Non-public| Experimental|
|     PGH| UKPGS|           23|Suburban|     Public| Experimental|
|     IPU| UKPGS|           19|Suburban|     Public| Experimental|
|     08N| UKPGS|           21|Suburban|     Public|     Standard|
|     XXE| UKPGS|           22|Suburban|     Public|     Standard|
|     9AW| UKPGS|           25|Suburban|     Public|     Standard|
|     KXB| UKPGS|           18|Suburban|     Public| Experimental|
|     NWZ| UAGPU|           21|Suburban|     Public|     Standard|
|     62L| UAGPU|           23|Suburban|     Public|     Standard|
|     S98| UAGPU|           21|Suburban|     Public|     Standard|
|     1SZ| UAGPU|           22|Suburban|     Public|     Standard|
|     X78| GJJHK|           21|Suburban|     Public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 50 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     PC6| CIMBB|           17|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
|     HUJ| CIMBB|           17|   Urban| Non-public| Experimental|
|     1Q1| CUQAM|           28|   Urban|     Public|     Standard|
|     OMI| CUQAM|           28|   Urban|     Public|     Standard|
|     BFY| CUQAM|           27|   Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     PBA| GOOBU|           24|   Urban|     Public|     Standard|
|     U6J| GOOBU|           25|   Urban|     Public|     Standard|
|     18K| GOOBU|           31|   Urban|     Public|     Standard|
|     W8A| GOOBU|           26|   Urban|     Public| Experimental|
|     CXC| GOOBU|           24|   Urban|     Public|     Standard|
|     HKF| GOOBU|           28|   Urban|     Public|     Standard|
|     G2L| IDGFP|           17|   Urban| Non-public|     Standard|
|     05H| IDGFP|           22|   Urban| Non-public|     Standard|
|     XZM| IDGFP|           17|   Urban| Non-public|     Standard|
|     98D| IDGFP|           21|   Urban| Non-public| Experimental|
|     P2A| IDGFP|           17|   Urban| Non-public| Experimental|
|     1VD| KFZMY|           27|   Urban| Non-public| Experimental|
|     21Q| KFZMY|           25|   Urban| Non-public|     Standard|
|     0N7| QOQTS|           28|   Urban|     Public| Experimental|
|     SUR| QOQTS|           28|   Urban|     Public|     Standard|
|     XZ4| QOQTS|           22|   Urban|     Public|     Standard|
|     3XJ| QOQTS|           24|   Urban|     Public|     Standard|
|     RK7| QOQTS|           22|   Urban|     Public|     Standard|
|     X2O| QOQTS|           25|   Urban|     Public| Experimental|
|     TB5| VVTVA|           25|   Urban|     Public|     Standard|
|     YTB| VVTVA|           30|   Urban|     Public| Experimental|
|     7BL| VVTVA|           29|   Urban|     Public|     Standard|
|     A93| VVTVA|           30|   Urban|     Public| Experimental|
|     CII| ZOWMK|           27|   Urban|     Public|     Standard|
|     Q0E| ZOWMK|           30|   Urban|     Public| Experimental|
|     QA2| ZOWMK|           30|   Urban|     Public|     Standard|
|     ZBH| ZOWMK|           30|   Urban|     Public|     Standard|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     ST7| DNQDD|           20|Suburban|     Public|     Standard|
|     2AP| DNQDD|           27|Suburban|     Public|     Standard|
|     XXJ| DNQDD|           27|Suburban|     Public|     Standard|
|     HCB| GJJHK|           22|Suburban|     Public|     Standard|
|     NOR| GJJHK|           27|Suburban|     Public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 50 rows

학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     4SZ|  null|         null|    null|       null|         null|
|     6PP|  null|         null|    null|       null|         null|
|     5SD|  null|         null|    null|       null|         null|
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     197| FBUMG|           14|   Rural| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     98D| IDGFP|           21|   Urban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     1VD| KFZMY|           27|   Urban| Non-public| Experimental|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
|     HUJ| CIMBB|           17|   Urban| Non-public| Experimental|
|     PC6| CIMBB|           17|   Urban| Non-public|     Standard|
|     5LQ| FBUMG|           18|   Rural| Non-public| Experimental|
|     JGD| FBUMG|           14|   Rural| Non-public| Experimental|
|     05H| IDGFP|           22|   Urban| Non-public|     Standard|
|     G2L| IDGFP|           17|   Urban| Non-public|     Standard|
|     P2A| IDGFP|           17|   Urban| Non-public| Experimental|
|     XZM| IDGFP|           17|   Urban| Non-public|     Standard|
|     21Q| KFZMY|           25|   Urban| Non-public|     Standard|
|     MDS|  null|           18|   Rural| Non-public|     Standard|
|     MDE|  null|           10|   Rural| Non-public| Experimental|
|     6C1| UUUQX|           16|Suburban| Non-public|     Standard|
|     AE1| UUUQX|           17|Suburban| Non-public| Experimental|
|     H7S| UUUQX|           16|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 30 rows

#### sql

In [26]:
cdf.printSchema()

print('반 학생 숫자를 기준으로 내림차순 정렬하라')
spark.sql('''
    select * from class order by class_std_cnt desc
''').show(5)


print('loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라')
spark.sql('''
    select * from class order by loc asc, school desc
''').show(10)


print('학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라')
spark.sql('''
    select * from class order by school_type asc nulls first
''').show(10)
spark.sql('''
    select * from class order by school_type asc nulls last
''').show(10)

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

반 학생 숫자를 기준으로 내림차순 정렬하라
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     18K| GOOBU|           31|Urban|     Public|     Standard|
|     A93| VVTVA|           30|Urban|     Public| Experimental|
|     Q0E| ZOWMK|           30|Urban|     Public| Experimental|
|     YTB| VVTVA|           30|Urban|     Public| Experimental|
|     QA2| ZOWMK|           30|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 5 rows

loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     5SD|  null|         null| null|       null|         null|
|     4SZ|  null|         null| null|       null|         null|
|     6PP|  null|         null| null|       null|         null|
|     341| VKWQH|           18|Rural|     Public|     Standard|
|     D33| VKWQH|           21|Rural|     Public|     Standard|
|     GYM| VKWQH|           20|Rural|     Public|     Standard|
|     IEM| VKWQH|           22|Rural|     Public| Experimental|
|     DFQ| VKWQH|           19|Rural|     Public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
+--------+------+-------------+-----+-----------+-------------+
only showing top 10 rows

학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     5SD|  null|         null|    null|       null|         null|
|     4SZ|  null|         null|    null|       null|         null|
|     6PP|  null|         null|    null|       null|         null|
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 10 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 10 rows